<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>

<body>
    <form>
        <h2>Регистрация</h2>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
        <label for="password">Имя пользователя:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
        <button type="button" (click)="login()">Зарегистрироваться</button>
    </form>
</body>

</html>