<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restore password</title>
</head>

<body>
    <form>
        <h2>Restore password</h2>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div>
            <label for="password">New password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <label for="confirmPassword">Confirm new password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
        <button type="button" (click)="verifyByEmail()">Continue</button>
        <!-- <p>Already have an account? <a href="/">Login</a></p> -->
    </form>
</body>

</html>