<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>

<body>
    <button (click)="goToMainMenu()">Users Menu</button>

    <div class="container">
        <div class="horizontal-container">
            <label for="role">Roles:</label>
            <span id="currentLogin">{{ roles.join(', ') }}</span>
        </div>

        <div>
            <div class="horizontal-container">
                <label for="email">Email:</label>
                <span id="currentEmail">{{ email }}</span>
            </div>

            <div>
                <div class="horizontal-container">
                    <label for="userName">Login</label>
                    <input type="text" id="newLogin" name="newLogin" [(ngModel)]="newLogin" required>
                    <button type="button" (click)="editLogin()">Edit</button>
                    <button type="button" (click)="cancel()">Back</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>