<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>

<body>

    <div class="container">
        <div class="horizontal-container">
            <label for="role">Role:</label>
            <span id="currentLogin">Roles</span>
        </div>

        <div>
            <div class="horizontal-container">
                <label for="email ">Email:</label>
                <span id="currentEmail "> current_email@example.com</span>
            </div>
            <div class="horizontal-container">
                <label for="login ">Login:</label>
                <span id="currentLogin "> current_login</span>
            </div>

            <div>
                <div class="horizontal-container">
                    <input type="text " id="newLogin " name="newLogin " [(ngModel)]="newLogin " required>
                    <button type="button " (click)="editLogin() ">Change Login</button>
                </div>
                <div *ngIf="isUsernameValid( 'newLogin') " class="error-message ">{{ errorMessageUsername }}</div>
            </div>
        </div>

        <div>
            <button type="button " (click)="changePassword() ">Change password</button>
        </div>
    </div>