.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
}

label {
    display: block;
    margin: 10px 0;
}

.container {
    margin-top: 100px;
}

input {
    padding: 8px;
    margin-bottom: 0px;
    width: 300px;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #0d16b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.input-valid {
    border-color: green;
    /* Set your desired color for valid input */
}

.input-invalid {
    border-color: red;
    /* Set your desired color for invalid input */
}

.horizontal-container {
    display: flex;
    align-items: center;
}

.horizontal-container div {
    margin: 10px;
}