<div>
    <button (click)="goBack()">Go back(Unauthorized)</button>
    <button (click)="getProducts()">Get Products(Authorized)</button>
    <button (click)="createProduct()">Create Product</button>
    <button (click)="goToUsersMenu()">Users Menu</button>
    <button (click)="goToProfile()">Profile</button>
</div>

<div class="background" *ngIf="showCreateProductPopup">
    <div>
        Create
    </div>
    <div>
        <label for="productName">Name:</label>
        <input type="text" id="productName" [(ngModel)]="newProduct.name" required />
        <div *ngIf="isLoginValid('name')" class="error-message">{{ errorMessageLogin }}</div>
    </div>

    <div>
        <label for="productDescription">Description:</label>
        <textarea id="productDescription" [(ngModel)]="newProduct.description" required></textarea>
        <div *ngIf="isDescriptionValid('description')" class="error-message">{{ errorMessageDescription }}</div>
    </div>
    <div>
        <label for="productPrice">Price:</label>
        <input type="number" id="productPrice" [(ngModel)]="newProduct.price" required />
        <div *ngIf="isPriceValid('price')" class="error-message">{{ errorMessagePrice }}</div>
    </div>

    <div>
        <label for="productAvailability">Availability:</label>
        <input type="checkbox" id="productAvailability" [(ngModel)]="newProduct.availability" />
    </div>
    <div>
        <button (click)="saveProduct()">Save Product(Admin, SuperAdmin)</button>
        <button (click)="closeCreateProductPopup()">Close</button>
    </div>
</div>


<div class="overlay" *ngIf="showEditProductPopup"></div>
<div class="edit-product-popup" *ngIf="showEditProductPopup">
    <div *ngIf="showEditProductPopup">
        <div>
            <h4>Edit Product</h4>
        </div>
        <div class="input-container">
            <label for="editProductName">Name:</label>
            <input type="text" id="editProductName" [(ngModel)]="editingProduct.name" />
            <button class="edit-button" (click)="editName()">Edit name(Admin, SuperAdmin)</button>
            <div *ngIf="isEditNameValid()" class="error-message">{{ errorMessageEditName }}</div>
        </div>
        <div class="input-container">
            <label for="editProductDescription">Description:</label>
            <textarea id="editProductDescription" [(ngModel)]="editingProduct.description"></textarea>
            <button class="edit-button" (click)="editDescription()">Edit description(Admin, SuperAdmin)</button>
            <div *ngIf="isEditDescriptionValid()" class="error-message">{{ errorMessageEditDescription }}</div>
        </div>
        <div class="input-container">
            <label for="editProductPrice">Price:</label>
            <input type="number" id="editProductPrice" [(ngModel)]="editingProduct.price" />
            <button class="edit-button" (click)="editPrice()">Edit price(Admin, SuperAdmin)</button>
            <div *ngIf="isEditPriceValid()" class="error-message">{{ errorMessageEditPrice }}</div>
        </div>
        <div class="input-container">
            <label for="editProductAvailability">Availability:</label>
            <input type="checkbox" id="editProductAvailability" [(ngModel)]="editingProduct.availability" />
            <button class="edit-button" (click)="editAvailability()">Edit availability(Admin, SuperAdmin)</button>
        </div>
        <div class="input-container">
            <button (click)="closeEditProductPopup()">Close</button>
        </div>
    </div>
</div>




<div *ngIf="products && products.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th (click)="sortTable('id')">ID</th>
                <th (click)="sortTable('name')">Name</th>
                <th (click)="sortTable('description')">Description</th>
                <th (click)="sortTable('price')">Price</th>
                <th (click)="sortTable('availability')">Availability</th>
                <th (click)="sortTable('dateCreated')">Date Created</th>
                <th (click)="sortTable('dateUpdated')">Date Updated</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.availability }}</td>
                <td>{{ formatDateString(product.dateCreated) }}</td>
                <td>{{ formatDateString(product.dateUpdated) }}</td>
                <td>
                    <button (click)="editProduct(product)">Edit</button>
                    <button (click)="deleteProduct(product.id)">Delete(Admin, SuperAdmin)</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="!products || products.length === 0">
    <p>No products available.</p>
</div>