<div>
    <button (click)="goToProducts()">Go To Products(Unauthorized)</button>
    <button (click)="getUsers()">Get Users(Authorized)</button>
    <button (click)="createUser()">Create User</button>
</div>

<div *ngIf="users && users.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th (click)="sortTable('id')">ID</th>
                <th (click)="sortTable('login')">Login</th>
                <th (click)="sortTable('email')">Email</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button (click)="editUser(user)">Edit</button>
                    <button (click)="deleteUser(user.id)">Delete(Admin, SuperAdmin)</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="!users || users.length === 0">
    <p>No users available.</p>
</div>