<div>
    <button (click)="goToProducts()">Go To Products(Unauthorized)</button>
    <button (click)="getUsers()">Get Users(Authorized)</button>
</div>

<div *ngIf="users && users.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th (click)="sortTable('id')">ID</th>
                <th (click)="sortTable('login')">Login</th>
                <th (click)="sortTable('email')">Email</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button (click)="openEditUserPopup(user)">Edit</button>
                    <button (click)="deleteUser(user.id) ">Delete(Admin, SuperAdmin)</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="!users || users.length===0 ">
    <p>No users available.</p>
</div>

<div class="overlay " *ngIf="showEditUserPopup "></div>
<div class="edit-user-popup " *ngIf="showEditUserPopup ">
    <div>
        <h4>Edit User</h4>
    </div>
    <!-- Ваш шаблон -->
    <div class="input-container">
        <label>
            <div>
                <input type="checkbox" (change)="setRole('User')" [checked]="roles.includes('User')" />
                User
            </div>
        </label>
        <label>
            <div>
                <input type="checkbox" (change)="setRole('Admin')" [checked]="roles.includes('Admin')" />
                Admin
            </div>
        </label>
        <label>
            <div>
                <input type="checkbox" (change)="setRole('Support')" [checked]="roles.includes('Support')" />
                Support
            </div>
        </label>
        <label>
            <div>
                <input type="checkbox" (change)="setRole('SuperAdmin')" [checked]="roles.includes('SuperAdmin')" />
                SuperAdmin
            </div>
        </label>
    </div>
    <div class="input-container">
        <button (click)="editRoles()">Edit User</button>
        <button (click)="closeEditUserPopup()">Close</button>
    </div>
</div>